<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}/log/nlog-internal.log"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target name="fileLogger"
				   xsi:type="File"
				   fileName="${basedir}/log/ois-${date:format=yyyy-MM-dd}.log"
				   layout="${date:format=yyyy-MM-dd HH\:mm\:ss}:${uppercase:${level}} ${callsite:className=true:includeSourcePath=true:methodName=false} ${message} ${exception:format=ToString,StackTrace}"
				   archiveEvery="Day"
				   archiveNumbering="Rolling"
				   maxArchiveFiles="7" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="${configsetting:Logging.LogLevel.Default}" writeTo="filelogger" />
	</rules>
</nlog>